{{!< default}}

<section class="h-feed">
    <ul class="article-list">
    {{#foreach posts}}
        <li class="h-entry">
            <time class="dt-published post-date" datetime="{{date format="YYYY-MM-DD"}}">
                {{date format="DD MMM YYYY"}}
            </time>
            <a class="p-name u-url post-title" href="{{url}}">{{title}}</a>
        </li>
    {{/foreach}}
    </ul>

    <div class="gh-pagination">
        {{pagination}}
    </div>
</section>
