{{!< default}}

{{#tag}}
<header class="gh-page-head">
    <h1>{{name}}</h1>
    <p>
        {{#if description}}
            {{description}}
        {{else}}
            {{t "A collection of"}} {{plural ../pagination.total empty=(t "posts") singular=(t "% post") plural=(t "% posts")}}
        {{/if}}
    </p>
</header>
{{/tag}}

<section class="h-feed">
    <data class="p-name" value="{{tag.name}}" hidden></data>
    <ul class="article-list" role="list">
    {{#foreach posts}}
        {{> "card"}}
    {{/foreach}}
    </ul>

    <nav class="gh-pagination" aria-label="{{t "Pagination"}}">
        {{pagination}}
    </nav>
</section>
